* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid #00000020;
    padding: 10px;
    margin-bottom: 20px;
}


.header-div p {
    color: gray;
    font-size: 18px;
}

.header-div .num {
    font-size: 20px;
    font-weight: bold;

}

.icons {
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.text p {
    color: gray;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 50px;
}

.nav-div ul {
    list-style: none;
}

.nav-div a {
    text-decoration: none;
    color: currentColor;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link,
.drop-down li {
    padding: 10px;
    font-weight: 600;
}

.drop-down {
    position: absolute;
    margin: 0.5rem -0.5rem;
    box-shadow: 0px 0px 10px gray;
    border-radius: 0.5rem;
    display: none;
    z-index: 1;
    text-align: left;
}

.nav-link:hover .drop-down {
    display: block;
}

.nav-link .dropdown-icon {
    font-size: 18px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.nav-link:hover .dropdown-icon {
    transform: rotate(180deg);
    ;
}

.nav-link:hover a {
    color: #007aff;
    transition: all 0.3s ease;
}

.drop-down li:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgb(81, 81, 81);
}

.drop-down li,
.li-anchor {
    background-color: black;
    color: #fff;
}

.pro {
    color: #007aff;
    background-color: transparent;
}

.image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    filter: brightness(90%);
    display: block;
    margin-bottom: 7em;
}

.container {
    height: auto;
    position: relative;
}

.heading {
    position: absolute;
    top: 160px;
    font-size: 36px;
    left: 40px;
    word-spacing: normal;
}

.para {
    position: absolute;
    top: 355px;
    font-size: 18px;
    left: 40px;
    color: gray;
}

.btn {
    position: absolute;
    top: 555px;
    font-size: 36px;
    left: 40px;
}

.btn button {
    border: none;
    padding: 20px;
    width: 250px;
    background-color: #fff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.button-anchor a {
    text-decoration: none;
    color: currentColor;
}

.container-product {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    margin: 25px auto;
    cursor: pointer;
    overflow: hidden;

}

.product img {
    width: 100%;
    aspect-ratio: 1.1;
    object-fit: cover;
    padding: 10px;
}

.product img {
    border: 1px solid var(--grey-color);
}

.box-text {
    text-align: left;
    width: 100%;

}

.box-text p {
    color: #6995b1;
    font-size: 20px;
}

.view-more {
    text-align: center;
    margin: 25px auto;
}

.view-more h1 {
    font-size: 2.6em;
    font-weight: 700;
    text-align: left;
    margin: 10px;
}

.view-more a {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    text-transform: capitalize;
    right: 18px;
    text-decoration: none;
    color: currentColor;
    color: #191919;
}

.view-more a:hover {
    color: #007aff;
    transition: all 0.2s ease;
}

.product img:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.footer-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid #00000020;
    padding: 15px 50px;
    color: gray;
}

.ftext {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.8;
}

.ftext a {
    color: currentColor;
    font-size: 18px;
    color: gray;
    text-decoration: none;
}

.ftext h2,
h3 {
    color: gray;
    font-size: 18px;
    font-weight: normal;
}

ul .nav-link:hover .li-anchor a {
    color: #fff;
}

.ftext .gm {
    color: black;
    text-decoration: underline;
}
.nav-link .drop-down a{
    color: white;
}
marquee {
    background-color: rgba(128, 128, 128, 0.219);
    color: rgba(0, 0, 0, 0.606);
    margin-top: 20px;
    padding: 10px;
}

.menu {
    display: none;
}
@media screen and (max-width:920px) {
    .header-div {
        padding: 8px;
        margin-bottom: 14px;
    }

    .header-div p {
        font-size: 17px;
    }

    .icons {
        font-size: 18px;
    }

    .header-div .num {
        font-size: 18px;
    }

    .header-div .logo-text {
        font-size: 15px;
    }

    .nav-div {
        padding: 0px 10px;
    }

    .nav-div .text h1 {
        font-size: 27px;
    }

    .nav-div .text p {
        font-size: 13px;
    }

    .nav-links ul li a {
        font-size: 15px;
    }

    .nav-links ul li {
        font-size: 15px;
    }

    .heading {
        font-size: 29px;
        top: 182px;
    }

    .para {
        font-size: 16px;
        left: 30px;
    }

    .btn button {
        padding: 16px;
        width: 100%;
        font-size: 17px;
    }

    .view-more h1 {
        font-size: 2em;
    }

    .view-more a {
        margin-top: 14px;
        font-size: 19px;
    }

    .container-product {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    footer marquee {
        padding: 6px;
    }

    marquee h2 {
        font-size: 20px;
    }

    .footer-container {
        margin-top: 55px;
        padding: 10px 10px;
    }

    .ftext h1 {
        font-size: 22px;
    }

    .ftext a {
        font-size: 16px;
    }

    .ftext h3 {
        font-size: 16px;
    }

}

@media screen and (max-width:1052px) {
    .para {
        width: 40%;
    }
}

@media screen and (max-width:760px) {
    .container-product {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .menu {
        display: block;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    .menu i {
        font-size: 20px;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 125px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9;
        transition: all 0.3s ease-in-out;
        text-align: left;
        padding: 0 50px;
    }

    .navbar .active {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        gap: 0;
    }

    .nav-link {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;

    }

    .heading {
        font-size: 27px;
    }
}

@media screen and (max-width:690px) {
    .header-div {
        flex-direction: column;
        padding: 2px;
    }

    .icons i {
        margin-left: 10px;
    }

    .image img {
        height: 550px;
    }

    .heading {
        font-size: 25px;
        top: 140px;
        left: 20px;
    }

    .para {
        top: 282px;
    }

    .btn {
        top: 450px;
        left: 20px;
    }

    .view-more h1 {
        font-size: 1.6em;
    }

    .view-more a {
        margin-top: 7px;
        font-size: 17px;
    }

    footer marquee {
        padding: 1px;
    }

    footer marquee h1 {
        font-size: 20px;
    }

    .footer-container {
        flex-direction: column;
    }
}

@media screen and (max-width:530px) {
    .header-div .num {
        font-size: 17px;
    }
    .header-div .logo-text {
        font-size: 14px;
    }
    .header-div p {
        font-size: 16px;
    }
    .icons i{
        font-size: 17px;
    }
    .nav-div .text h1 {
        font-size: 25px;
    }
    .nav-div .text p {
        font-size: 12px;
    }
    .nav-div {
        padding: 0px 3px;
    }
    .heading {
        font-size: 18px;
    }
    .para{
        font-size: 14px;
        top: 260px;
    }
    .btn{
        top: 380px;
    }
    .btn button{
        padding: 10px;
        font-size: 16px;
    }
    .image img{
        height: 450px;
    }
}
@media screen and (max-width:480px)
{
    .view-more a{
        margin-top: 38px;
        left: 10px;
    }
    .btn button{
        width: 150px;
        font-size: 15px;
    }
}
