* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid #00000020;
    padding: 10px;
    margin-bottom: 20px;
}


.header-div p {
    color: gray;
    font-size: 18px;
}

.header-div .num {
    font-size: 20px;
    font-weight: bold;

}

.icons {
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.text p {
    color: gray;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 50px;
}

.nav-div ul {
    list-style: none;
}

.nav-div a {
    text-decoration: none;
    color: currentColor;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link,
.drop-down li {
    padding: 10px;
    font-weight: 600;
}

.drop-down {
    position: absolute;
    margin: 0.5rem -0.5rem;
    box-shadow: 0px 0px 10px gray;
    border-radius: 0.5rem;
    display: none;
    z-index: 1;
    text-align: left;
}

.nav-link:hover .drop-down {
    display: block;
}

.nav-link .dropdown-icon {
    font-size: 18px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.nav-link:hover .dropdown-icon {
    transform: rotate(180deg);
    ;
}

.nav-link:hover a {
    color: #007aff;
    transition: all 0.3s ease;
}

.drop-down li:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgb(81, 81, 81);
}

.drop-down li,.li-anchor {
    background-color: black;
    color: #fff;
}

.pro {
    color: #007aff;
    background-color: transparent;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    height: 90vh;
    overflow: hidden;
    margin-bottom: 50px;
}
.text{
    width: 500px;
    height: 80px;
    padding: 20px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
}
.image {
    width: 100%;
    padding-bottom: 60.25%; /* 16:9 Aspect Ratio */
    background-image: url('shani.jpeg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 7em;
}

.footer-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid #00000020;
    padding: 15px 50px;
    color: gray;
}
.ftext {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.8;
}
.ftext a {
    color: currentColor;
    font-size: 18px;
    color: gray;
    text-decoration: none;
}
.ftext h2,h3 {
    color: gray;
    font-size: 18px;
    font-weight: 600;
}
ul .nav-link:hover .li-anchor a{
    color: #fff;
}
.ftext .gm{
    color: black;
    text-decoration: underline;
}